body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: url(cubes.png) repeat;
    color: #4D4D4D;
    font: 48px Helvetica, Arial, sans-serif;
    /*font-variant: small-caps;*/
    overflow: hidden;
}

#banner {
	font-weight: bold;
	text-transform: capitalize;
	color: RGB(66,20,95);
	/*background: RGB(66,20,95);*/
	width: 500px;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 5px;
	/*	box-shadow: 0 0 5px rgba(0,0,0,.5); */
}

#logo img {
	width: 35%;
	height: 35%;
}

#col {
	padding: 15px;
	position: absolute;
}


ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
	position: relative;
	top: 35px;
	left: 10%;
}

/* MESSAGE BUBBLES */

li {
	margin: 0 auto;
	margin-bottom: 35px;
	padding: 10px;
	max-width: 750px;
		
    text-shadow: 0 1px 1px rgba(157,193,79,.5);
    position: relative;
    opacity: 1;

    word-wrap: break-word;
	
    border-radius: 5px;
	border: 2px solid rgba(157,193,79,.5);
	background-color: rgba(240,240,240,.5);
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	
	
	
}
/*
li span {
    border-radius: 5px;
    background-color: #FFF;
    border: 2px solid #000000;
}*/

li {
    animation: new-item-animation 0.75s ease-out forwards;
    -webkit-animation: new-item-animation 0.75s ease-out forwards;
}

/* END MESSAGE BUBBLES */

@keyframes new-item-animation {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
 
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes new-item-animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200px);
  }
 
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}